//Screen's width
$mobileW: 375px;
$tableW: 768px;
$desktopW: 1440px;
$viewportD: 1440;

// Base variable
$accent: hsl(0, 0%, 8%);
$almostwhite: hsl(0, 0%, 98%);
$mediumgray: hsl(0, 0%, 41%);
$textcolor: #202020;
$lineheight: 1.2;
$fontsize: 18px;
$userfont: 'Epilogue', sans-serif;