.login-list {
  text-align: center;
  font-size: 14px;
}

.login-list__item:last-child .login-list__link {
  border: 1px solid #000000;
  border-radius: 15px;
}

.login-list__link {
  display: block;
  padding: 13px 0;  
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: #726dee;
  }

  &:active {
    opacity: 0.6;
  }
}