.site-list {
  @media (min-width: $tableW) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    flex: 0 0 70%;
  }
}

.site-list__inner {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 1.5s all ease-in-out;
  overflow-y: auto;

  @media (min-width: $tableW) {
    background-color: #ffffff;
    box-shadow: 3px 2px 10px 5px rgba(0,0,0,0.2);
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    max-width: 200px;
  }
}

.site-list__item {
  @media (min-width: $tableW) {
    margin-right: 40px;
  }
}

.site-list__item--active:hover .site-list__inner {
  max-height: 800px;
  opacity: 1;
  visibility: visible;
  user-select: auto;
}


.site-list__link {
  display: block;
  padding: 11.5px 0;
  font-size: 16px;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: #726dee;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tableW) {
    font-size: 14px;
    padding: 10px 0;
  }
}

.site-list__item--active {
  transition: 1.5s all ease-in-out;
  position: relative;

  @media (min-width: $tableW) {
    margin-right: 57px;
  }
}

.site-list__item--active .site-list__link {
  padding-right: 110px;
  position: relative;


  &::after,
  &::before {
    content: '';
    position: absolute;
    transition: 0.3s all ease;
    width: 6px;
    height: 1px;
    right: 102px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $textcolor;
  }

  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    right: 97px;
    transform: rotate(-45deg);
  }

  &:hover {
    &::before {
      transform: rotate(-45deg);
    }
    
    &::after {
      transform: rotate(45deg);
    }
  }

  @media (min-width: $tableW) {
    padding-right: 0;

    &::after {
      right: -15px;
    }
    &::before {
      right: -20px;
    }
  }
}

.site-list__item--active:hover {
  margin-bottom: 7px;

  @media (min-width: $tableW) {
    margin-bottom: 0;
  }
}

.site-list__item--active:first-child:hover .site-list__link{
  margin-bottom: 5px;

  @media (min-width: $tableW) {
    margin-bottom: 0;
  }
}

.site-list__inner-link {
  font-size: 16px;
  display: block;
  padding: 12px 22px;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: darken(#726dee, 20%);
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tableW) {
    padding: 16px 35px;
  }
}

.site-list__inner-item--icon .site-list__inner-link {
  padding-left: 56px;
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: 20px center;
}

.site-list__inner-item--icon {
  &:nth-child(1) a {
    background-image: url('@img/icons/icons.svg#icon-todo')
  }
  &:nth-child(2) a {
    background-image: url('@img/icons/icons.svg#icon-calendar')
  }
  &:nth-child(3) a {
    background-image: url('@img/icons/icons.svg#icon-reminders')
  }
  &:nth-child(4) a {
    background-image: url('@img/icons/icons.svg#icon-planning')
  }
}